footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

h1 {
  /*font-size: 700%;*/
}

h3 {
    font-size: 400%
}

h4 {
  /*font-size: 300%;*/
}

.kangaroo-facts {
  font-size: 250%;
}

.tap-panel{
  height: 68vh
}
