<div class="container text-center">
    <h3>Hey, Brittany or Dan!! Please select beers for display!</h3>
<br>
<br>
<!--
************************
 SELECT beers SECTION
************************
-->
<div class="row">
  <div class="container text-center">
    <form class="container" >
      <!--
      ************************
       SELECT beer 1 SECTION
      ************************
      -->
      <div class="col-xs-6">
        <label for="beers">Tap 1/Left: </label>

        <select
        ng-model="$ctrl.beer1"
        ng-options="beer as beer.name for beer in $ctrl.dropdownOptions">
          <!-- <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>-->
        </select>

        <!-- <select ng-model="$ctrl.beer1">
              <option ng-repeat="beer in $ctrl.beerAPI" ng-selected = "$ctrl.leftSelected" value={{beer}}>{{beer.name}}</option>
            <!-- <select ng-options="item as item.name for item in beerInventory track by item.name" ng-model="selected"></select> -->
              <!-- <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option> -->
        <!-- </select> -->

      </div>
      <!--
      ************************
       SELECT beer 2 SECTION
      ************************
      -->
      <div class="col-xs-6">
        <label for="beers" >Tap 2/Right: </label>
        <select ng-model="$ctrl.beer2"
        ng-options="beer as beer.name for beer in $ctrl.dropdownOptions">
          <!-- <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option> -->
        </select>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!--
  *************************************
   SELECT beer IN cooler/onDeck SECTION
  *************************************
  -->
  <div class="container text-center">
    <label for="beers" >On Deck!: </label>
    <select ng-model="$ctrl.cooler"
    ng-options="beer as beer.name for beer in $ctrl.dropdownOptions">
      <!-- <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option> -->
    </select>
  </div>
  <br>
  <br>
  <!--
  ************************
   SUBMIT button for POST
  ************************
  -->
    <div class="container text-center">
      <div class="row">
        <button ng-click="$ctrl.updateBeerList()" type="submit" class="btn btn-success" ui-sref="tapDisplay">
      Update Tap Display!
    </button>
      </form>
      <br>
      <br>
      <br>
      </div>

    </div>
