<div class="container text-center">
    <h3>Hey, Brittany or Dan!! Please select beers for display!</h3>
<br>
<br>
<!--
************************
 SELECT beers SECTION
************************
-->
<div class="row">
  <div class="container text-center">
    <form class="container" >
      <!--
      ************************
       SELECT beer 1 SECTION
      ************************
      -->
      <div class="col-xs-6">
        <label for="beers">Tap 1/Left: </label>
        <select ng-model="$ctrl.beer1.name" ng-options="key as value for (key , value) in $ctrl.dropdownOptions">
          <!-- <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option> -->
        </select>
      </div>
      <!--
      ************************
       SELECT beer 2 SECTION
      ************************
      -->
      <div class="col-xs-6">
        <label for="beers" >Tap 2/Right: </label>
        <select ng-model="$ctrl.beer2.name" ng-options="key as value for (key , value) in $ctrl.dropdownOptions">
          <!-- <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option> -->
        </select>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!--
  *************************************
   SELECT beer IN cooler/onDeck SECTION
  *************************************
  -->
  <div class="container text-center">
    <label for="beers" >On Deck!: </label>
    <select ng-model="$ctrl.beer3.name" ng-options="key as value for (key , value) in $ctrl.dropdownOptions">
      <!-- <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option> -->
    </select>
  </div>
  <br>
  <br>
  <!--
  ************************
   SUBMIT button for POST
  ************************
  -->
    <div class="container text-center">
      <div class="row">
        <button ng-click="$ctrl.updateBeerList(); $ctrl.socketToMe()" type="button" class="btn btn-success">
      Update Tap Display!
    </button>
      </form>

      <br>
      <br>
      <br>

    <button
        href="#"
        style="float: right"
        ng-click="invetoryFormToggle = !invetoryFormToggle; $ctrl.inventoryList()">
        Manage Inventory
      </button>
      </div>

    </div>

  <!--
  ************************
   INVENTORY MANAGEMENT FORM
  ************************
  -->


<div class = "container">
  <div class="row">

      <div ng-init="invetoryFormToggle = false" ng-show="invetoryFormToggle" id="replyForm">
        <div class="col-md-6">
        <form name="newBeerForm" ng-submit="$ctrl.addToInventory(); invetoryFormToggle = !invetoryFormToggle; $ctrl.inventoryList()">
        <legend>New Beer Form</legend>

        <!--*********
          NAME OF BEER INPUT
        *********-->


          <div class="form-group">
            <label for="Title" class="col-lg-12 control-label">Name</label>
            <div class="col-lg-12">
              <input
              ng-model="$ctrl.newBeer.name"
              type="text"
              class="form-control"
              id="postTitle"
              placeholder="Name">
            </div>


          <!--*********
            BREWERY INPUT
          *********-->

            <div class="form-group">
              <label for="Author" class="col-lg-12 control-label" >Brewery</label>
              <div class="col-lg-12">
                <input
                type="text"
                ng-model="$ctrl.newBeer.brewery"
                type="text"
                class="form-control"
                id="postAuthor"
                placeholder="Brewery">
              </div>
            </div>

            <!--*********
              TYPE INPUT
            *********-->

            <div class="form-group">
              <label for="textArea" class="col-lg-12 control-label">type</label>
              <div class="col-lg-12">
                <input
                  type="text"
                  ng-model="$ctrl.newBeer.type"
                  class="form-control"
                  name="description"
                  rows="2"
                  id="textArea"
                  placeholder="type">
                </input>
              </div>
            </div>

            <!--*********
              ABV INPUT
            *********-->

              <div class="form-group">
                <label for="Author" class="col-lg-12 control-label" >ABV</label>
                <div class="col-lg-12">
                  <input
                  type="text"
                  ng-model="$ctrl.newBeer.abv"
                  type="text"
                  class="form-control"
                  id="postAuthor"
                  placeholder="ABV">
                </div>
              </div>

            <!--*********
              IMAGE URL INPUT
            *********-->

          <div class="form-group">
            <label  for="imgURL" class="col-lg-12 control-label">Image URL</label>
            <div class="col-lg-12">
              <input
                ng-model="$ctrl.newBeer.imageURL"
                type="url"
                class="form-control"
                id="imgURL"
                placeholder="image URL">
            </div>
            <br>

            <!--******************
              SUBMIT NEW BEER BUTTON
            ******************-->

              <div class="col-sm-4">
                <br>
                <button
                  type="submit"
                  href="#"
                  class="btn btn-default"
                  >
                  Add Beer
                </button>
                <br><br><br>
              </div>
            </div>
      </form>
      <br>
      </div>

      </div>
      <div class="col-md-6">
        <legend>Beer Inventory</legend>
          <ul class="list-group">
            <li ng-repeat= "beer in $ctrl.inventory" class="list-group-item">
              {{beer.name}}
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
