
<!--
************************
 INVENTORY MANAGEMENT FORM
************************
-->
<div class = "container">
  <div class="row">
    <div ng-init="invetoryFormToggle = true; $ctrl.inventoryList()" ng-show="invetoryFormToggle" id="replyForm">
      <div class="col-md-6">
        <form name="newBeerForm" ng-submit="$ctrl.addToInventory(); invetoryFormToggle = !invetoryFormToggle; $ctrl.inventoryList()">
        <legend>New Beer Form</legend>

      <!--*********
        NAME OF BEER INPUT
      *********-->


            <div class="form-group">
              <label for="Title" class="col-lg-12 control-label">Name</label>
              <div class="col-lg-12">
                <input
                  ng-model="$ctrl.newBeer.name"
                  type="text"
                  class="form-control"
                  id="postTitle"
                  placeholder="Name">
                </div>


        <!--*********
          BREWERY INPUT
        *********-->

                <div class="form-group">
                  <label for="Author" class="col-lg-12 control-label" >Brewery</label>
                  <div class="col-lg-12">
                    <input
                    type="text"
                    ng-model="$ctrl.newBeer.brewery"
                    type="text"
                    class="form-control"
                    id="postAuthor"
                    placeholder="Brewery">
                  </div>
                </div>

          <!--*********
            TYPE INPUT
          *********-->

                <div class="form-group">
                  <label for="textArea" class="col-lg-12 control-label">type</label>
                  <div class="col-lg-12">
                    <input
                      type="text"
                      ng-model="$ctrl.newBeer.type"
                      class="form-control"
                      name="description"
                      rows="2"
                      id="textArea"
                      placeholder="type">
                    </input>
                  </div>
                </div>

          <!--*********
            ABV INPUT
          *********-->

                <div class="form-group">
                  <label for="Author" class="col-lg-12 control-label" >ABV</label>
                  <div class="col-lg-12">
                    <input
                    type="text"
                    ng-model="$ctrl.newBeer.abv"
                    type="text"
                    class="form-control"
                    id="postAuthor"
                    placeholder="ABV">
                  </div>
                </div>

          <!--*********
            IMAGE URL INPUT
          *********-->

                <div class="form-group">
                  <label  for="imgURL" class="col-lg-12 control-label">Image URL</label>
                  <div class="col-lg-12">
                    <input
                      ng-model="$ctrl.newBeer.imageURL"
                      type="url"
                      class="form-control"
                      id="imgURL"
                      placeholder="image URL">
                  </div>
          <br>

          <!--******************
            SUBMIT NEW BEER BUTTON
          ******************-->

            <div class="col-sm-4">
              <br>
              <button
                type="submit"
                href="#"
                class="btn btn-default"
                >
                Add Beer
              </button>
              <br><br><br>
            </div>
          </div>
    </form>
    <br>
    </div>

    </div>
    <div class="col-md-6">
      <legend>Beer Inventory</legend>
        <ul class="list-group">
          <li ng-repeat= "beer in $ctrl.inventory" class="list-group-item">
            <div class="container">
              <div class="row">
                <!-- <br> -->
                <div class="col-md-4">
                  <p><big>{{beer.name}}</big></p>
                </div>
                <div class="col-md-1">
                  <button
                      ng-click="$ctrl.removeFromInventory(beer)"
                      type="button"
                      class="btn btn-danger">
                      Remove
                  </button>

                </div>
<br>
              </div>
            </div>

          </li>

        </ul>
        </div>
      </div>
    </div>
  </div>
